#rb-1 {
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
    color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

    

    @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #rb-1 {
      height: 600px;
    }
  }

  .ecriture-gradiant {
      color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

      @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
  }